$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)",
);

// ligatured operators â‰¥ â‰¤

@import "vendors/include-media";
@import "vendors/normalize";
@import "vendors/fonts";
@import "vendors/icomoon-style";
@import "vendors/icomoon-variables";

@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#header {
  padding: 10px 0 5px;

  .container {
    max-width: inherit;
    @include media(">=1800px") {
      max-width: 1762px;
    }

    .box-img {
      min-width: 305px;
    }

    .catalog-button {
      min-width: 125px;
      font-size: 17px;
      line-height: 1.23;
    }

    .lang-select {
      max-width: 83px;
      background-color: transparent;
      border: none;
      font-size: 20px;
      background-size: 0;
      color: $white;
    }

    .search-form {
      input {
        border-radius: 6px 0px 0px 6px;
      }
    }

    .icon-list {
      a {
        color: $white;
      }

      .icon-user {
        font-size: 30px;
      }

      .icon-cart {
        font-size: 50px;
      }
    }
  }

  .logo {
    margin-right: 30px;

    @include media("<desktop") {
      max-width: 300px;
    }

    @include media("<tablet") {
      max-width: 250px;
    }

    &:before {
      display: none;
    }
  }
}

.intro {
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  font-weight: 700;
  background-size: cover;
  background-position: center;
  min-height: 420px;

  @include media(">=tablet") {
    min-height: 500px;
    margin-bottom: 20px;
  }
}
