$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)",
);

// ligatured operators â‰¥ â‰¤

@import "vendors/include-media";
@import "vendors/normalize";
@import "vendors/fonts";
@import "vendors/icomoon-style";
@import "vendors/icomoon-variables";

@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:after {
    @include animate(opacity z-index background);
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: transparent;
  }

  @include media(">=desktop") {
    &:after {
      display: none;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.primary-color {
  color: $primary-color !important;
}

#header {
  padding: 10px 0 7px;

  .container {
    max-width: inherit;
    @include media(">=1800px") {
      max-width: 1762px;
    }

    .logo {
      display: none;
      min-width: 305px;
      @include media(">=desktop") {
        display: block;
      }
    }

    .logo-mobile {
      display: block;
      min-width: 50px;
      @include media(">=desktop") {
        display: none;
      }
    }

    .catalog-button {
      min-width: 125px;
      font-size: 17px;
      line-height: 1.23;

      @include media("<desktop") {
        display: none !important;
      }
    }

    .lang-select-holder {
      min-width: 83px;

      .lang-select {
        width: inherit;
        background-color: transparent;
        border: none;
        font-size: 20px;
        background-size: 0;
        color: $white;
        padding: 10px;

        option {
          color: $black;
        }
      }

      .icon-dropdown-arrow {
        color: white;
        font-size: 27px;
      }
    }

    .search-form {
      display: none;

      @include media(">=600px") {
        display: flex;
      }

      input {
        border-radius: 6px 0px 0px 6px;
      }
      label {
        min-width: 98px;
        font-size: 20px;
        line-height: 1;
      }
    }
    .icon-search {
      font-size: 30px;
      color: $white;
    }

    .search-dropdown {
      display: block;

      @include media(">=600px") {
        display: none;
      }

      .dropdown-toggle {
        &:after {
          display: none;
        }
      }

      .search-form {
        display: flex;
      }

      .dropdown-menu {
        padding: 10px 15px;
        &.show {
          min-width: 320px;
        }
      }
    }

    .icon-list {
      .profile {
        @include media("<phone") {
          display: none;
        }
      }

      a {
        color: $white;
      }

      .icon-user {
        font-size: 30px;
      }

      .icon-cart {
        font-size: 50px;
      }
    }
  }
}

#aside {
  width: 28%;
  border-right: 1px solid #f5f5f5;
  padding: 17px 0 20px 45px;

  .navbar-nav {
    border-bottom: 1px solid #f5f5f5;
    padding: 9px 25px 2px 0;

    > li {
      margin-bottom: 5px;

      a {
        @include animate(color);
        display: flex;
        align-items: center;
        color: #221f1f;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &.adress-list {
      line-height: 1;

      .adress {
        font-size: 15px;
      }
    }
  }

  .icon {
    font-size: 25px;
    margin-right: 12px;

    &.icon-gamepad {
      font-size: 29px;
    }
  }

  span {
    font-size: 18px;
  }
}
