$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)",
);

// ligatured operators â‰¥ â‰¤

@import "vendors/include-media";
@import "vendors/normalize";
@import "vendors/fonts";
@import "vendors/icomoon-style";
@import "vendors/icomoon-variables";

@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 90px;

  &:after {
    @include animate(opacity z-index background);
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: transparent;
  }

  @include media(">=tablet") {
    padding-top: 75px;
  }

  @include media(">=desktop") {
    padding-top: 90px;
    &:after {
      display: none;
    }
  }
}

a {
  text-decoration: none;
}

.primary-color {
  color: $primary-color !important;
}

.light-blue-color {
  color: $blue;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0 7px;

  .container {
    max-width: inherit;
    @include media(">=1800px") {
      max-width: 1762px;
    }

    .logo {
      display: none;
      min-width: 305px;
      @include media(">=desktop") {
        display: block;
      }
    }

    .logo-mobile {
      display: block;
      min-width: 50px;
      @include media(">=desktop") {
        display: none;
      }
    }

    .catalog-button {
      min-width: 125px;
      font-size: 17px;
      line-height: 1.23;

      @include media("<desktop") {
        display: none !important;
      }
    }

    .lang-select-holder {
      min-width: 83px;

      .lang-select {
        width: inherit;
        background-color: transparent;
        border: none;
        font-size: 20px;
        background-size: 0;
        color: $white;
        padding: 10px;

        option {
          color: $black;
        }
      }

      .icon-dropdown-arrow {
        color: white;
        font-size: 27px;
      }
    }

    .search-form {
      display: none;

      @include media(">=600px") {
        display: flex;
      }

      input {
        border-radius: 6px 0px 0px 6px;
      }
      label {
        min-width: 98px;
        font-size: 20px;
        line-height: 1;
      }
    }
    .icon-search {
      font-size: 30px;
      color: $white;
    }

    .search-dropdown {
      display: block;

      @include media(">=600px") {
        display: none;
      }

      .dropdown-toggle {
        &:after {
          display: none;
        }
      }

      .search-form {
        display: flex;
      }

      .dropdown-menu {
        padding: 10px 15px;
        &.show {
          min-width: 320px;
        }
      }
    }

    .icon-list {
      .profile {
        @include media("<phone") {
          display: none;
        }
      }

      a {
        color: $white;
      }

      .icon-user {
        font-size: 30px;
      }

      .icon-cart {
        font-size: 50px;
      }
    }
  }
}

#aside {
  width: 416px;
  border-right: 1px solid $light-gray;
  padding: 17px 0 20px 0;

  @include media("<desktop") {
    display: none;
  }

  .aside-holder {
    padding-left: 45px;
    margin-bottom: 15px;
  }

  .navbar-nav {
    border-bottom: 1px solid $light-gray;
    padding: 9px 25px 2px 0;

    > li {
      margin-bottom: 5px;

      a {
        @include animate(color);
        display: flex;
        align-items: center;
        color: #221f1f;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &.adress-list {
      line-height: 1;

      .adress {
        font-size: 15px;
      }
    }
    span {
      font-size: 18px;
    }
  }

  .icon {
    font-size: 25px;
    margin-right: 12px;

    &.icon-gamepad {
      font-size: 29px;
    }
  }

  h5 {
    color: #797878;
  }
}

.login-card-holder {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 16px;
  margin: 15px 0;
}

.login-card {
  background-color: $gray;
  max-width: 335px;
  line-height: 1.3;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  margin-left: 10px;

  p {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .btn {
    font-size: 18px;
  }
}

.download-group,
.social-holder {
  text-align: center;
  border-bottom: 1px solid $light-gray;

  .list {
    @extend %listreset;
    max-width: 276px;
  }

  h5 {
    margin-bottom: 18px;
  }
}

.download-group {
  padding: 12px 0 14px;
  margin-bottom: 16px;

  .btn-list {
    > li {
      width: 50%;
      max-width: 128px;
    }
  }

  .box-img {
    min-width: 21px;
    margin-right: 7px;
  }

  .btn {
    text-align: left;
    border-radius: 8px;
    padding: 6px 10px;

    span {
      display: block;
      font-size: 15px;
      line-height: 1.2;

      &.download {
        font-size: 8px;
      }
    }
  }
}

.social-holder {
  padding-bottom: 9px;
  margin-bottom: 33px;

  h5 {
    margin-bottom: 20px;
  }
  .social-list {
    > li {
      a {
        @include animate(color);
        color: #8d8c8c;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.list-holder {
  padding-left: 88px;

  h5 {
    margin-bottom: 17px;
  }

  .info-list {
    @extend %listreset;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 13px;
    margin-bottom: 32px;

    > li {
      margin-bottom: 9px;

      a {
        color: $dark;
      }
    }
  }
}

.pay-card-box {
  text-align: center;
  max-width: 231px;
  margin: 0 auto 42px;

  .box-img {
    width: 50%;
  }
}

.copyright {
  max-width: 250px;
  line-height: 1.5;
  font-size: 17px;
  margin: 0 auto;
  .license {
    color: #7e7d7d;
  }

  p {
    margin: 0;
  }
}

.star-ratings {
  display: inline-block;
  position: relative;
  color: #c5c5c5;
  font-size: 21px;
  text-shadow: 0px 1px 0 #a2a2a2;

  @include media(">=tablet") {
    font-size: 26px;
  }

  span {
    display: inline-block;
  }

  &-top {
    white-space: nowrap;
    color: $yellow;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

.carousel {
  margin-bottom: 32px;

  .carousel-control-prev {
    left: 16px;
  }
  .carousel-control-next {
    right: 16px;
  }

  .carousel-indicators {
    bottom: 25px;

    button {
      background-color: $black;
    }
  }

  .btn-outline-secondary {
    @include animate(color background-color);
    display: flex;
    justify-content: center;
    min-width: 150px;
    font-size: 15px;
    color: #3e77aa;
    border-radius: 0;
    margin-left: auto;
    margin-top: -1px;

    @include media(">=tablet") {
      min-width: 200px;
      font-size: 17px;
    }

    @include media(">=desktop") {
      min-width: 240px;
      font-size: 20px;
    }

    .text-secondary {
      @include animate(color);
    }

    &:hover {
      color: $white;

      .text-secondary {
        color: $white !important;
      }
    }
  }
}

.products-section {
  margin-bottom: 29px;
  h2 {
    margin-bottom: 28px;
  }

  .row {
    > div {
      border-right: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
    }
  }

  .card {
    max-width: 240px;
    border: 0;

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px 0;
    }

    .box-img {
      display: flex;
      align-items: center;
      max-width: 230px;
      height: 200px;
      margin-bottom: 20px;
    }

    h4 {
      line-height: 1.4;
      margin-bottom: 10px;
    }

    span {
      display: block;
      line-height: 1;
    }
    .discount {
      .price {
        font-size: 15px;
        color: #797878;
        text-decoration: line-through;
        margin-bottom: 6px;
      }

      .discount-price {
        font-size: 19px;
        color: #f84147;
      }
    }

    + .btn-outline-secondary {
      width: calc(100% + 26px);
      border: 0;
      border-top: 1px solid #e9e9e9;
      border-radius: 0;
      margin: 0 -13px;
    }
  }
}

.product-header {
  padding-top: 28px;
  margin-bottom: 20px;
}

.breadcrumb {
  > li {
    a {
      @include animate(color);

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.nav-tabs {
  margin: 0 -8px;

  > li {
    padding: 0 8px;
  }

  .nav-link {
    color: $black;
    border: none;
    padding: 5px 5px;

    &.active {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
    }
  }
}

.carousel-holder {
  max-width: 550px;

  .productCarousel {
    display: flex;
  }

  .box-img {
    width: 60px;
    cursor: pointer;
  }

  .carousel-item {
    &.active {
      display: flex;
      justify-content: center;
    }

    img {
      object-fit: contain;
      min-height: 400px;
    }
  }

  .small-img-holder {
    flex-wrap: wrap;
    margin: 0 -15px;

    .box-img {
      margin: 0 15px 26px;
    }

    img {
      max-height: 65px;
    }
  }
}
.carousel-control-prev,
.carousel-control-next {
  @include animate(color background-color);
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  color: $black;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:hover,
  :active {
    color: #3e77aa;
    background-color: $gray;
  }
}

.pick-up {
  padding-left: 21px;
  margin-bottom: 33px;
}

.description-list {
  @extend %listreset;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 25px;
  margin-bottom: 15px;

  > li {
    margin-bottom: 13px;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bordered-block {
  border: 1px solid $light-gray;
  border-radius: 9px;

  .bordered {
    border-bottom: 1px solid $light-gray;
  }
}

.recomended {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid $primary-color;
  border-radius: 9px;
  padding: 20px;

  @include media(">=tablet") {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .box-img {
    min-width: 79px;
    margin: 0 0 10px 0;

    @include media(">=tablet") {
      margin: 0 16px 0 0;
    }
  }

  span {
    display: block;
    color: $primary-color;
    margin-bottom: 7px;
  }

  .price {
    font-size: 18px;

    @include media(">=tablet") {
      padding-left: 15px;
    }
  }
}

.payment {
  border-radius: 10px;
  padding: 9px 0 20px;
  margin-bottom: 20px;

  .seller {
    padding: 0 20px 11px;

    span {
      margin-right: 5px;
    }
  }

  .product-trade {
    
    padding: 10px 20px 13px;

    @include media(">=desktop") {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .price-box {
      span {
        display: block;
        line-height: 1.5;
      }

      .price {
        font-size: 33px;
      }
    }
  }

  .button-box {
    @include media(">=tablet") {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 350px;
    }

    .btn {
      min-width: 165px;
      font-size: 19px;
      padding: 9px 10px;

      .icon-cart {
        font-size: 30px;
      }
    }

    .likes-box {
      .icon-scales {
        font-size: 30px;
        margin-right: 10px;
      }

      .likes {
        font-size: 16px;
        .icon-heart {
          color: $yellow;
          font-size: 25px;
          margin-right: 5px;
        }
      }
    }
  }

  .bank-list {
    @extend %listreset;
    flex-wrap: wrap;
    padding: 15px 10px 5px;

    > li {
      padding: 0 10px;
      margin-bottom: 10px;

      .btn {
        padding: 0;
      }
    }
  }

  .bonus {
    padding: 20px 20px 0;

    .letter-box {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      line-height: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f2e312;
      color: $black;
      margin-right: 15px;
    }

    .icon-info {
      font-size: 21px;
    }
  }
}

.services {
  padding: 20px 20px 7px 20px;
  margin-bottom: 20px;

  h5 {
    margin-bottom: 24px;
  }

  .form-check {
    margin-bottom: 14px;
  }

  .form-check-input {
    margin-right: 22px;
  }

  img {
    margin-right: 14px;
  }
}

.delivery {
  padding: 10px 0 20px;
  margin-bottom: 20px;

  .address {
    padding: 0 20px 14px;

    .icon-map-pin {
      font-size: 26px;
      margin-right: 20px;
    }
  }

  .delivery-method {
    .delivery-method-list {
      @extend %listreset;
      padding-top: 16px;

      > li {
        padding: 0 20px 12px;

        .icon {
          font-size: 28px;
        }
        .box-img {
          margin-right: 20px;
        }

        .titles {
          h5 {
            font-weight: 400;
          }
        }

        h5 {
          line-height: 1.5;
          margin-bottom: 0;
        }

        span {
          line-height: 1.6;
        }
      }
    }
  }
}

.payment-guarantee-list {
  @extend %listreset;

  > li {
    font-size: 16px;
    line-height: 1.5;
    padding: 15px 20px 0;

    .icon-box {
      margin-right: 22px;
    }

    .icon {
      font-size: 28px;
    }
  }
}

// .product-carousel {
//   position: relative;

//   .carousel-inner {
//     display: flex;
//   }

//   .carousel-item {
//     display: flex;
//   }

//   .card {
//     width: 100%;
//     margin: 0 5px;
//   }
// }

.characteristics {
  .characteristics-list {
    @extend %listreset;
    width: 492px;

    > li {
      display: flex;
      justify-content: space-between;

      span,
      a {
        width: 50%;
      }

      span {
        position: relative;
        display: inline-block;

        // &::before {
        //   content: "";
        //   position: absolute;
        //   left: 117%;
        //   bottom: 16px;
        //   width: 189%;
        //   border-bottom: 1px dotted $red;
        // }
      }
    }
  }
}
